@import "../base/extend";
textarea {
  resize: none;
  height: 200px;
}
.main1 {
  height: 77vh;
  @media screen and (max-width: 767px) {
    height: auto;
  }
}

.imagen-contacto {
  width: 50%;
  @extend %flex;
}
